.footer__top {
  margin: 0px 0px 4.375rem 0px;
}

.top-footer__text-col {
  margin: 0px 0px 1.25rem 0px;
}

.top-footer__text-body {
  padding: 20px 20px 0px 0px;
  max-width: 50%;
  position: relative;
}

.top-footer__text-body::before {
  content: "";
  width: calc(100% - 20px);
  display: block;
  position: absolute;
  height: 3px;
  top: 0;
  background-color: #037e8c;
  left: 0;
  z-index: 1;
}

.top-footer__title {
  text-align: left;
  margin: 0px 0px 3.75rem 0px;
}

.top-footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 40px;
  margin-bottom: 3.75rem;
}

.top-footer__contact {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 0px 15px;
}

.top-footer__social-title {
  margin: 0px 0px 0.9375rem 0px;
  color: #121214;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 151.187%;
}

.top-footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  row-gap: 10px;
}

.top-footer__social-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 2.5625rem;
  height: 2.5625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.top-footer__social-link::before {
  font-size: 1.375rem;
  color: white;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.top-footer__map {
  padding: 0px 0px 68.5714285714% 0px;
}

.contact-footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-footer__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2.8125rem;
          flex: 0 0 2.8125rem;
  height: 2.8125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background: #037e8c;
}

.contact-footer__icon::before {
  color: white;
  font-size: 1.25rem;
}

.contact-footer__text {
  padding: 0px 0px 0px 10px;
  color: #121214;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 124.187%;
}

.contact-footer__text a {
  color: inherit;
  font-size: inherit;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.bottom-footer__row {
  border-top: 0.0625rem solid black;
  border-bottom: 0.0625rem solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3px 0px 3px 150px;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

.bottom-footer__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60px;
          flex: 0 0 60px;
}

.bottom-footer__logo a {
  display: block;
}

.bottom-footer__logo img {
  width: 100%;
}

.bottom-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 35px;
     -moz-column-gap: 35px;
          column-gap: 35px;
  row-gap: 8px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bottom-footer__link {
  color: #121214;
  font-weight: 600;
  line-height: 104.7%;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.bottom-footer__rights {
  text-align: center;
  padding: 15px 0px 15px 0px;
  color: #787878;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 126.687%;
}

@media (min-width: 767.98px) {
  .top-footer__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .top-footer__text-col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin: 0px 0px 0px 0px;
  }

  .top-footer__map-col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    padding: 0px 0px 0px 20px;
    -webkit-transform: translate(-100%, 0);
        -ms-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
}

@media (max-width: 991.98px) {
  .footer__top {
    margin: 0px 0px 1.875rem 0px;
  }

  .top-footer__title {
    margin: 0px 0px 1.875rem 0px;
  }

  .top-footer__contacts {
    margin-bottom: 1.875rem;
  }

  .bottom-footer__row {
    padding: 3px 0px 3px 0px;
  }

  .bottom-footer__list {
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }
}

@media (max-width: 767.98px) {
  .top-footer__text-body::before {
    width: 100%;
  }

  .top-footer__text-body {
    padding: 20px 0px 0px 0px;
    max-width: 100%;
  }

  .contact-footer__icon {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 2.1875rem;
            flex: 0 0 2.1875rem;
    height: 2.1875rem;
  }

  .contact-footer__icon::before {
    font-size: 1rem;
  }

  .bottom-footer__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
  }
}

@media (max-width: 479.98px) {
  .contact-footer__text {
    font-size: 1rem;
  }
}

@media (any-hover: hover) {
  .top-footer__social-link:hover {
    background-color: #037e8c;
  }

  .contact-footer__text a:hover {
    color: coral;
  }

  .bottom-footer__link:hover {
    color: cornflowerblue;
  }
}